@model Ecom.Models.Brand

@{
    ViewBag.Title = "Ajouter une marque";
}
<style>
    .form-horizontal {
        background-color: white;
        padding: 40px;
        border: 1px solid #ddd;
        margin-top: 20px;
    }
</style>
<h2>@ViewBag.Title</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
<div class="col-sm-offset-4 col-sm-4">

    <div class="form-horizontal">

        <div class="form-group">
            <div class="">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { placeholder = "Marque", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "Nom de marque invalide", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="text-center">
                <input type="submit" value="Ajouter" class="btn btn-success" />
            </div>
        </div>
    </div>
    </div>
    }



    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
